@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,700,900|Noto+Sans+TC:400,700,900|Rajdhani|Saira+Stencil+One&display=swap');
@font-face {
  font-family: 'noto_sans_scmedium';
  src: url('/fonts/notosanssc-medium-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}

.content {
  width: 1600px;
  height: 1036px;
  background-color: #6a686d;
  border: 1px solid #000;
}

.paper {
  z-index: 1000;
  position: relative;
  padding: 5px 50px 10px;
  margin: 0 auto;
  margin-top: 180px;
  width: 600px;
  height: 650px;
  background-color: #f3f3f3;
  box-sizing: border-box;
  box-shadow: 40px 40px 50px 5px black;
  transform: skew(-40deg, 23deg);
}

.line {
  width: 100%;
  height: 1px;
  background-color: #3a393b;
}

.paper::before {
  bottom: 0px;
  left: 0px;
  width: 600px;
  height: 650px;
  position: absolute;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.842);
  display: block;
  z-index: -1;
  content: '';
}

.h1 {
  margin-bottom: -10px;
  line-height: 60px;
  letter-spacing: 10px;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 70px;
  font-weight: 900;
}

.h2 {
  padding-bottom: 10px;
  line-height: 30px;
  color: red;
  font-family: 'Rajdhani', sans-serif;

  font-size: 30px;
  word-spacing: 10px;
}

.h2 ~ p {
  font-family: 'noto_sans_scmedium';
  font-size: 14px;
}

p:first-of-type {
  padding-top: 15px;
}
/*    -------- делаем загибы листка ---------- */
.span-shadow {
  position: absolute;
  display: block;
  z-index: -1;
}

.span-bottom {
  top: 630px;
  left: 280px;
  width: 300px;
  height: 5px;
  /* background: linear-gradient(90deg, transparent, blue); */
  box-shadow: 20px 20px 2px 5px black;
  transform: rotate(-3deg);
}

.span-right {
  left: 455px;
  top: 550px;
  width: 250px;
  height: 2px;
  box-shadow: 20px 20px 2px 5px black;
  transform: rotate(-87deg);
}
